/* App.css */

/* Stil für das Formular */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

/* Stil für Überschrift */
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Stil für Labels */
label {
    display: block;
    margin-bottom: 10px;
}

/* Stil für Select-Element */
select,
input[type="number"],
input[type="range"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Um Padding nicht die Breite zu erhöhen */
    margin-bottom: 10px;
}

/* Stil für den Submit-Button */
input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Blaue Farbe */
    color: #fff; /* Weiße Farbe */
    cursor: pointer;
    transition: background-color 0.3s; /* Übergangseffekt */
}

/* Stil für den Submit-Button beim Hover */
input[type="submit"]:hover {
    background-color: #0056b3; /* Dunklere blaue Farbe */
}


.list {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    margin-right: 10px;
}

body{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}